* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

// Header 
$color-primary: #f857a8;
$color-secondary: #ff5858;
$color-neutral-lt: #fff;
$color-neutral-med: #ddd;
$color-neutral-dk: #444;
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-no-hov: "a:link, a:visited, a:active";
$headings-font: "Saira Semi Condensed",
sans-serif;
$shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
@mixin main-gradient {
    background: $color-primary;
    background: -webkit-linear-gradient(45deg, $color-primary, $color-secondary);
    background: linear-gradient(45deg, $color-primary, $color-secondary);
}

@mixin shadow-box {
    background-color: $color-neutral-lt;
    box-shadow: $shadow;
}

@mixin skew {
    transform: skew(-20deg);
}

@mixin unskew {
    transform: skew(20deg);
}


/*-------------Reset-------------*/

button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

button:focus,
input:focus {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}


/*-------------Layout-------------*/

body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    width: inherit;
}

section {
    height: 100vh;
}

#home {
    background-color: #ddd;
    height: auto;
}

#about {
    background-color: #aaa;
    height: auto;
}

#work {
    background-color: #888;
    height: auto;
}

#contact {
    background-color: #666;
    height: auto;
}


/*-------------Helpers-------------*/

.skew {
    @include skew;
}

.un-skew {
    @include unskew;
}


/*-------------Nav-------------*/

#nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#nav {
    @include shadow-box;
    display: flex;
    flex-direction: column;
    font-family: $headings-font;
    height: 4em;
    overflow: hidden;
    &.nav-visible {
        height: 100%;
        overflow: auto;
    }
}

.nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
}

.nav-link,
.logo {
    padding: 0 1em;
}

span.gradient {
    @include main-gradient;
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
    &:hover {
        animation-name: logo-hover;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
    }
}

h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: $color-neutral-lt;
}

h1.logo #{$a-tags} {
    text-decoration: none;
    color: $color-neutral-lt;
}

.nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid $color-neutral-med;
}

#{$a-tags-no-hov} {
    text-decoration: none;
    color: $color-primary;
}

a:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-nav {
    color: $color-primary;
    padding-left: 2em;
    padding-right: 2em;
}

@media (min-width: 800px) {
    #nav-wrapper {
        overflow: hidden;
    }
    #nav {
        overflow: hidden;
        flex-direction: row;
    }
    .nav-link {
        border-top: none;
    }
    .right {
        overflow: hidden;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 1.5em;
        height: auto;
    }
    .btn-nav {
        display: none;
    }
    .nav #{$a-tags-no-hov} {
        &.active {
            @include main-gradient;
            color: #fff;
        }
    }
    .nav-link-span {
        @include unskew;
        display: inline-block;
    }
    .nav-link {
        @include skew;
        color: #777;
        text-decoration: none;
        &:last-child {
            padding-right: 3em;
        }
    }
    a:hover.nav-link:not(.active) {
        color: $color-neutral-dk;
        background: $color-neutral-med;
        background: linear-gradient(45deg, $color-neutral-lt, #ddd);
    }
}

@keyframes logo-hover {
    20% {
        padding-right: 0em;
    }
    100% {
        padding-right: 5em;
    }
}

a:hover {
    text-decoration: none;
}

a {
    color: black;
}

// Banner
.banner_img {
    width: -webkit-fill-available;
    padding: 0;
    margin: 0;
}

// Tabs
.tabs {
    position: relative;
    margin: 1px 0;
    height: 3%;
    justify-content: space-around;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: left;
    box-shadow: -1px 0px 17px -2px #FABE00;
    width: 50%;
    text-align: center;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #FABE00;
    border-right: 0.125rem solid rgb(194, 190, 190);
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}

.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}

.tab-content {
    height: 5em;
    position: absolute;
    z-index: 0;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: black;
    opacity: 0;
    transition: all 0.35s;
    text-align: left;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 0;
    top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
    z-index: 0;
    opacity: 1;
    transition: all 0.35s;
}

.mainNavDiv {
    justify-content: space-between;
}

// .tab-data {
//     height: auto !important;
// }

/**Sub Navigation**/

.subnavigation-container {
    background: #FABE00;
}

.subnavigation .nav-link {
    color: white;
    font-weight: bold;
}

.subnavigation-container {
    text-align: center;
}

.subnavigation-container .navbar {
    display: inline-block;
    margin-bottom: -6px;
    /* Inline-block margin offffset HACK -Gilron */
}

.col-subnav a {
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
}

.col-subnav .active {
    border-top: 5px solid orange;
    background: white;
    color: black;
}

@media (max-width: 430px) {
    #nav_mob {
        display: flex;
    }
}

// Footer 
.foot {
    padding: 10px 0px;
    background-color: #b5b5b5;
}

.copyright {
    text-align: center;
    padding: 5px 0px;
    background-color: #fff;
}

.foot-tags {
    color: #0056b3;
    text-decoration: none!important;
    background-color: transparent;
}

.footer-link a {
    font-family: 'MontserratRegular', sans-serif!important;
    font-size: 14px;
    color: #000;
}

.montserratRegular {
    font-family: 'MontserratRegular', sans-serif;
}

.flex-container-footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: min-content;
    max-width: 1220px;
    text-align: center;
    flex-direction: column;
}

@media only screen and (max-width: 1024px) {
    .tab-content {
        font-size: 10px;
        margin-top: 1.5%;
    }
}

@media only screen and (min-width: 836px) {
    .mobile {
        display: none;
    }
}
