* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

/*-------------Reset-------------*/
button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  width: inherit;
}

section {
  height: 100vh;
}

#home {
  background-color: #ddd;
  height: auto;
}

#about {
  background-color: #aaa;
  height: auto;
}

#work {
  background-color: #888;
  height: auto;
}

#contact {
  background-color: #666;
  height: auto;
}

/*-------------Helpers-------------*/
.skew {
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.un-skew {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}

#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  line-height: 4em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #f857a8;
  background: linear-gradient(45deg, #f857a8, #ff5858);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}

span.gradient:hover {
  -webkit-animation-name: logo-hover;
          animation-name: logo-hover;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
          animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #f857a8;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #f857a8;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }
  #nav {
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    border-top: none;
  }
  .right {
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }
  .btn-nav {
    display: none;
  }
  .nav a:link.active, a:visited.active, a:active.active {
    background: #f857a8;
    background: linear-gradient(45deg, #f857a8, #ff5858);
    color: #fff;
  }
  .nav-link-span {
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
    display: inline-block;
  }
  .nav-link {
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }
  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}

@-webkit-keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}

@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

.banner_img {
  width: -webkit-fill-available;
  padding: 0;
  margin: 0;
}

.tabs {
  position: relative;
  margin: 1px 0;
  height: 3%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
  -webkit-box-shadow: -1px 0px 17px -2px #FABE00;
          box-shadow: -1px 0px 17px -2px #FABE00;
  width: 50%;
  text-align: center;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #FABE00;
  border-right: 0.125rem solid #c2bebe;
  color: #fff;
  cursor: pointer;
  top: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.tab-label:hover {
  top: -0.25rem;
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}

.tab-content {
  height: 5em;
  position: absolute;
  z-index: 0;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: black;
  opacity: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  text-align: left;
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 0;
  top: -0.0625rem;
}

.tab-switch:checked + label + .tab-content {
  z-index: 0;
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.mainNavDiv {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/**Sub Navigation**/
.subnavigation-container {
  background: #FABE00;
}

.subnavigation .nav-link {
  color: white;
  font-weight: bold;
}

.subnavigation-container {
  text-align: center;
}

.subnavigation-container .navbar {
  display: inline-block;
  margin-bottom: -6px;
  /* Inline-block margin offffset HACK -Gilron */
}

.col-subnav a {
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}

.col-subnav .active {
  border-top: 5px solid orange;
  background: white;
  color: black;
}

@media (max-width: 430px) {
  #nav_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.foot {
  padding: 10px 0px;
  background-color: #b5b5b5;
}

.copyright {
  text-align: center;
  padding: 5px 0px;
  background-color: #fff;
}

.foot-tags {
  color: #0056b3;
  text-decoration: none !important;
  background-color: transparent;
}

.footer-link a {
  font-family: "MontserratRegular", sans-serif !important;
  font-size: 14px;
  color: #000;
}

.montserratRegular {
  font-family: 'MontserratRegular', sans-serif;
}

.flex-container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 1220px;
  text-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .tab-content {
    font-size: 10px;
    margin-top: 1.5%;
  }
}

@media only screen and (min-width: 836px) {
  .mobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
